body {
	margin:1px;
	background:#eee;
	font-family:Arial;
}
form{
	width:min-content;
	padding:1rem;
	background:#fff;
}
form *{
	display:block;
	width:100%;
}
form input{
	margin-bottom:1rem;
	padding:.5rem 0;
}
form input:requried::before{
	content:"*";
	color:red;
}
form input[type="submit"]{
	min-width:20rem;
	margin-bottom:0;
}