body {
	margin:1px;
	background:#eee;
	font-family:Arial;
	height:min-content;
}
.overlay{
	display:none;
	position:absolute;
	z-index:99;
	background:rgba(0,0,0,0.5);
	top:0;
	bottom:0;
	left:0;
	right:0;
}
.popup{
	background:white;
	border:1px solid #eee;
	box-shadow:0 .4rem 1rem rgba(0,0,0,0.2);
	border-radius:4px;
	padding:1rem 2rem;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
.popup label,
.popup input{
	display:block;
	width:35rem;
	margin: .5rem 0;
}
.popup input{
	position:relative;
	z-index:3;
	padding: .5rem 1rem;
	background: #efefef;
    border: 2px inset;
}
.popup button{
	color:white;
	
}